<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Computer</title>
</head>
<body>
    <h1>Computer</h1>
    <ol>
        <% osList.forEach((os) => { %>
            <li>
                <span>os.name</span>
                <img src='<%= os.image %>' width=300 height=200/>
            </li>
        <% }) %>
    </ol>
</body>
</html>